input {
  border: black;
  background-color: rgb(239 228 220);
  height: 25px;
  font-size: 1.1rem;
  padding: 5px;
  outline: none;
  min-width: 10px;
}
ul {
  padding: 0;
  margin-top: 0;
}
li {
  padding: 5px;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.tag-item {
  margin: 0;
  height: 100%;
  padding: 2px 6px;
  cursor: pointer;
}

/* results */
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 700px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
